apiVersion: v1
kind: ConfigMap
metadata:
  name: pod-identity-webhook
  namespace: pod-identity-webhook
data:
  config: |-
    {
      "loki/loki": {
        "RoleARN": "arn:aws:iam::<AWS_ACCOUNT_ID>:role/Loki",
        "TokenExpiration": 3600,
        "UseRegionalSTS": true,
        "Audience": "sts.amazonaws.com"
      }
    }